language: node_js
node_js:
  - "8"
  - "7"
  - "6"
os:
  - linux
  - osx
cache:
  directories:
    - "node_modules"
before_install:
  - npm i -g npm@latest
script:
  - npm run ci:test
after_success: npm run ci:coverage
